<app-nav-bar id="home" name="home"></app-nav-bar>
<section class="home-page">
<body >
    <div class="container" >

        <div class="row justify-content-center" @enterState>
            <div class="col-md-4">
                <img src="../assets/20220429_194630.jpg" alt="">
            </div>
            <div class="col-md-5">
                <h1>SAMUEL TINOCO</h1>
                <h2>I am a  <span style="color: rgba(20, 76, 219, 0.825);">full stack </span>developer with knowledge in angular, spring boot and sql server
                </h2>
                <input type="button" (click)="dowland()" class="btn-download btn btn-primary" value="DOWNLOAD CV">
            </div>
        </div>
    </div>

</body>
</section>
<div class="arrow">
    <div class="chevron"></div>
    <div class="chevron"></div>
    <div class="chevron"></div>
</div>
<div >
    <section >
        <article class="about" id="about"></article>
        <app-about></app-about>
        <article id="education"></article>
        <app-education ></app-education>
        <article name="skills"></article>
        <app-skills></app-skills>
        <article id="contact"></article>
        <app-contact ></app-contact>
    </section>
    <app-footer></app-footer>
    <app-boton></app-boton> 
</div>

