<div name="contact" class="contact" [@scrollAnimationContact]="state">

    <h3 class="title-seccion">CONTACT</h3>
    <div class="container">

        <div class="row justify-content-center">

            <div class="col-md-1">
                <a href="https://mail.google.com/mail/u/0/#sent?compose=CllgCJNstdPbzZLPVRJqTDlMVzzKcCKrJtJnqXNmzTrbmtPZtzKKznwkPkTmhNmqbMjGWBkrPkL" target="_blank">
                    <div class="card">
                        <img src="../assets/gmail.svg">
                    </div>
                </a>
            </div>

            <div class="col-md-1">
                <a href="https://www.linkedin.com/in/samuel-tinoco-a355b7241/" target="_blank">
                    <div class="card">
                        <img src="../assets/linkedin.svg">
                    </div>
                </a>
            </div>

            <div class="col-md-1">
                <a href="https://github.com/Samuel-TC" target="_blank">
                    <div class="card">
                        <img src="../assets/github.svg">
                    </div>
                </a>
            </div>

            <div class="col-md-1">
                <a href="https://www.instagram.com/samuel_tc_/" target="_blank">
                    <div class="card">
                        <img src="../assets/instagram.svg">
                    </div>
                </a>
            </div>

            <div class="col-md-1">
                <a href="https://wa.link/s4lk6v" target="_blank">
                    <div class="card">
                        <img src="../assets/whatsapp.svg">
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>