<div  name="about" class="about" [@scrollAnimationAbout]="state">

    <div class="container">
        <div class="row justify-content-center">
            <h3 class="title-seccion ">ABOUT</h3>
            <div class="col-md-10">

                <div class="testimotionals">
                    <div class="card">
                        <div class="layer">

                        </div>
                        <div class="content">
                            <br>
                            <div class="details">
                                <h2>Student in Bachillerato en Informática Empresarial at UCR<br> <span>My profile</span></h2>
                            </div>
                            <br>
                            <p style="font-size: 17px;  margin: 1rem;">
                                Hello, my name is Samuel and I am a bachelor's student in business informatics 
                                at the University of Costa Rica, as well as a full stack web developer in training. 
                                I am passionate about programming and technology in general, and I really enjoy creating
                                attractive and functional web solutions that provide value to users.
                            </p>
                            <br>
                            <p style="font-size: 17px; margin: 1rem;" >
                                Ever since I discovered the world of programming, I have been working hard to develop my
                                skills in multiple programming languages and web development technologies, such as HTML,
                                CSS, JavaScript, React, Node.js, Python, and SQL databases. I like to work on 
                                challenging and exciting projects that allow me to apply what I have learned and continue
                                to improve my skills.
                            </p>
                            <br>
                        </div>
                    </div>
                </div>



            </div>


        </div>

    </div>
</div>