<div  name="about" class="about" [@scrollAnimationAbout]="state">

    <h3 class="title-seccion">ABOUT</h3>
    <div class="container">
        <div class="row justify-content-center">


            <div class="col-md-10">


                <div class="testimotionals">
                    <div class="card">
                        <div class="layer">

                        </div>
                        <div class="content">
                            <div class="details">
                                <h2>Bachilleraro en Informatica Empresarial <br> <span>2022-Actual</span></h2>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam iusto ea tenetur quas facere
                                minima obcaecati mollitia sed ipsum quod, eius repellat nihil quos. Saepe ipsa veritatis
                                magni voluptates voluptatum.</p>

                        </div>
                    </div>
                </div>



            </div>


        </div>

    </div>
</div>