<div name="education" class="education" [@scrollAnimationEducation]="state">

    <div class="container">

        <div class="row justify-content-center">


            <div class="col-md-10" >
              <div class="testimotionals">
              <div class="card-white">
                  <h3 class="title-seccion" >EDUCATION</h3>
              </div>
            </div>

                <div class="testimotionals">
                    <div class="card">
                      <div class="layer">
                        
                      </div>
                      <div class="content">
                        
                        <div class="details">
                            <img src="../../../assets/ucr.png" alt="" width="140px">
                            <h2>Bachilleraro En Informatica Empresarial <br> <span> 2018-Actual</span></h2>
                          </div>
                        <p>The Bachelor's Degree in Business Informatics trains professionals with the capacity 
                          for the development and administration of computer projects aimed at organizing systems,
                           resources and finances in the company, by optimizing access, systematization and organization
                            of information.</p>
                      
                      </div>
                    </div>
                  </div>

                  <div class="testimotionals">
                    <div class="card">
                      <div class="layer">
                        
                      </div>
                      <div class="content">
                        <div class="details">
                            <img src="../../../assets/CertiProf.png" alt="" width="130px"> 
                            <h2>SCRUM Fundation <br> <span>2022-2022</span></h2>
                          </div>
                        <p class="text-justify" > This certification focuses on the fundamentals 
                          of SCRUM, including the roles and responsibilities of SCRUM team members, 
                          SCRUM events, SCRUM artifacts, and agile values and principles.
                        </p>
                          <button class="btn-download btn btn-primary" (click)="viewSCRUM()">Certificate </button>
                      </div>
                    </div>
                  </div>

                  <div class="testimotionals">
                    <div class="card">
                      <div class="layer">
                        
                      </div>
                      <div class="content">
                        <div class="details">
                            <img src="../../../assets/hard.svg" alt="" width="90px">
                            <h2>Harvard Introduction To Computer Science<br> <span>2022-2022</span></h2>
                          </div>
                        <p class="text-description">The course covers topics such as data structure, algorithms, 
                          object-oriented programming, the web, and databases. Students learn to program in Python
                           and work on various projects during the course.</p>
                        <button class="btn-download btn btn-primary" (click)="viewCS50()">Certificate </button>
                      </div>
                    </div>
                  </div>
                  

            </div>

        </div>
    </div>
</div>

