<div id="project" class="project" [@scrollAnimation]="state">

    <h3  class="title-seccion">PROJECT</h3>
    <div class="container">
        
        <div class="row justify-content-center">


            <div class="col-md-5">
                <div class="card">
                    <div  class="card-header">
                        <img src="../assets/project-map.png" >
                    </div>
                    <div class="card-body">
                        <h3>Interactive Map</h3>
                        <p >Allows you to interact with the map of Costa Rica and check the status
                            of the time of each one of the provinces, also allows to carry out
                            searches of the localities of each canton and national district.
                        </p>
                        <p>HTML - CSS - JAVASCRIPT - API</p>
                    </div>
                    <div class="card-footer">
                        
                        <a class="btn-download btn btn-primary row" target="_blank" href="https://github.com/Samuel-TC/Mapa-project">
                            Code <img class="icon" src="../assets/github.svg" >
                        </a>
                        <a class="btn-download btn btn-primary row" target="_blank" href="https://samuel-tc.github.io/Mapa-project/">
                            Online <img class="icon" src="../assets/internet.svg" >
                        </a>
                    </div>
                </div>
            </div>

            
            <div class="col-md-5">
                <div class="card">
                    <div  class="card-header">
                        <img src="../assets/record.png" >
                    </div>
                    <div class="card-body" >
                        <h3>Reminders</h3>
                        <p >A reminder app is a tool designed to help you remember important tasks, 
                            events, or dates in your everyday life. These applications allow you to 
                            create and modify reminders by date.
                        </p>
                        <p>Flask - MySQL</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn-download btn btn-primary row" >Code <img class="icon" src="../assets/github.svg" ></a>
                        <a class="btn-download btn btn-primary row" >Online <img class="icon" src="../assets/internet.svg" ></a>
                    </div>
                </div>
            </div>

    
        </div>
    </div>
</div>
