<div id="project" class="project" [@scrollAnimation]="state">

    <h3  class="title-seccion">PROJECT</h3>
    <div class="container">
        
        <div class="row justify-content-center">


            <div class="col-md-5">
                <div class="card">
                    <div  class="card-header">
                        <img src="../assets/project-map.png" >
                    </div>
                    <div class="card-body">
                        <h3>Mapa interactivo</h3>
                        <p >Permite interactuar con el mapa de Costa Rica y consultar el estado
                             del diempo de cada una de las provincias, ademas permite realizar 
                             busquedas de las localidades de cada canton y distrito nacianal.
                        </p>
                        <p>HTML - CSS - JAVASCRIPT - API</p>
                    </div>
                    <div class="card-footer">
                        
                        <a class="btn-download btn btn-primary row" target="_blank" href="https://github.com/Samuel-TC/Mapa-project">
                            Code <img class="icon" src="../assets/github.svg" >
                        </a>
                        <a class="btn-download btn btn-primary row" target="_blank" href="https://samuel-tc.github.io/Mapa-project/">
                            Online <img class="icon" src="../assets/internet.svg" >
                        </a>
                    </div>
                </div>
            </div>

            
            <div class="col-md-5">
                <div class="card" style="filter: blur(5px);">
                    <div  class="card-header">
                        <img src="../assets/project-map.png" >
                    </div>
                    <div class="card-body" >
                        <h3>Mapa interactivo</h3>
                        <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Quaerat perspiciatis, rerum unde officiis nulla perferendis 
                            explicabo voluptatem autem numquam! Voluptatum, incidunt similique.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn-download btn btn-primary row" >Code <img class="icon" src="../assets/github.svg" ></a>
                        <a class="btn-download btn btn-primary row" >Online <img class="icon" src="../assets/internet.svg" ></a>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</div>
