<div id="skills" class="skills" [@scrollAnimation]="state">

    <h3  class="title-seccion">SKILLS</h3>
    <div class="container">
        
        <div class="row justify-content-center">


            <div class="col-md-3">
                <div class="card">
                    <img src="../assets/mysql.svg" >
                    <h4>MySQL</h4>
                    
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="../assets/node-js.svg" >
                    <h4>NODE JS</h4>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" >
                    <img src="../assets/sass.svg" >
                    <h4>SASS</h4>
                </div>
            </div>

            <div class="col-md-3"  >
                <div class="card">
                    <img src="../assets/css3.svg"  >
                    <h4>CSS3</h4>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="../assets/html5.svg" >
                    <h4>HTML5</h4>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="../assets/angular.svg" >
                    <h4>ANGULAR</h4>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="../assets/spring.svg">
                    <h4>SPRING</h4>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="../assets/microsoftsqlserver.svg" >
                    <h4>SQL</h4>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="../assets/python.svg" >
                    <h4>PYTHON</h4>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="../assets/php.svg" >
                    <h4>PHP</h4>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="../assets/java.svg" >
                    <h4>JAVA</h4>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="../assets/javascript.svg" >
                    <h4>JAVASCRIPT</h4>
                </div>
            </div>

        </div>
    </div>
</div>