<div id="skills" class="skills" [@scrollAnimation]="state">

    <h3  class="title-seccion">SKILLS</h3>
    <div class="container">
        
        <div class="row justify-content-center">


            <div class="col-md-3">
                <div class="card">
                    <img src="../assets/icons8-mysql-logo.svg" >
                    <h4>MySQL</h4>
                    
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="../assets/icons8-node-js.svg" >
                    <h4>NODE JS</h4>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" >
                    <img src="../assets/icons8-sass.svg" >
                    <h4>SASS</h4>
                </div>
            </div>

            <div class="col-md-3"  >
                <div class="card">
                    <img src="../assets/icons8-css3.svg"  >
                    <h4>CSS3</h4>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="../assets/icons8-html-5.svg" >
                    <h4>HTML5</h4>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="../assets/icons8-angularjs.svg" >
                    <h4>ANGULAR</h4>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="../assets/spring.png">
                    <h4>SPRING</h4>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="../assets/sql.png" >
                    <h4>SQL</h4>
                </div>
            </div>

        </div>
    </div>
</div>